{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="..static/core/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-vUd5a6Y2C07O4tkH3fLLQUbrEsY6ThLk3oRTOCe7pcFGjH9pgI6yo7k5o9/z9GQb/YJ1pJZrmScnVT+pCL4sTcQ==" crossorigin="anonymous" />
    <title>BayMax! Your healthcare assistant!</title>
    <!-- Bootstrap CSS -->
    <link href="../static/core/css/bootstrap.css" rel="stylesheet"> 
    <link href="../static/core/css/themify-icons.css" rel="stylesheet"> 
    <link href="../static/core/css/flaticon.css" rel="stylesheet">
    <link href="../static/core/vendors/fontawesome/css/all.min.css" rel="stylesheet"> 

    <link href="../static/core/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet"> 
    <link href="../static/core/vendors/animate-css/animate.css" rel="stylesheet"> 
    <link href="../static/core/css/style.css" rel="stylesheet"> 
    <link href="../static/core/css/responsive.css" rel="stylesheet"> 
</head>
<body>

    <!--================Header Menu Area =================-->
 <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
  
        </div>  
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="../static/core/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{% url 'dr_list' %}">Doctors</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'reg' %}">Register</a></li>      

                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
   <!--================Header Menu Area =================-->


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Our Doctors</h2>
              <p>You can view our doctors here!</p>
            </div>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="{% url 'dr_list' %}">Doctors</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->


     
    <section class="team-area area-padding">
        <div class="container">
            <div class="area-heading row">
                <div class="col-md-5 col-xl-4">
                    <h3>Doctors</h3>
                </div>
                <div class="col-md-7 col-xl-8">
                    <p>Discover the expertise of our exceptional, world-class specialized doctors.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                        <img class="card-img rounded-0" src="../static/core/img/team/1.jpg" alt="">
                        <div class="card-team__body text-center">
                            <h3><a href="#">Dr Adam Brain</a></h3>
                            <p>Cardiologist</p>
                            <div class="team-footer d-flex justify-content-between">
                                <a class="dn_btn" href=""></i>+7 235 365 2365</a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                <img class="card-img rounded-0" src="../static/core/img/team/2.jpg" alt="">
                        <div class="card-team__body text-center">
                            <h3><a href="#">Dr Blian Judge</a></h3>
                            <p>Neurologist</p>
                            <div class="team-footer d-flex justify-content-between">
                                <a class="dn_btn" href="">+7 235 365 2365</a>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-12 col-md-6 col-lg-4">
                    <div class="card card-team">
                <img class="card-img rounded-0" src="../static/core/img/team/3.jpg" alt="">
                        <div class="card-team__body text-center">
                            <h3><a href="#">Dr Blian Judge</a></h3>
                            <p>General Surgeon</p>
                            <div class="team-footer d-flex justify-content-between">
                                <a class="dn_btn" href=""></i>+7 235 365 2365</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start footer Area -->
    <footer class="footer-area area-padding-top">
        <div class="container">
            <div class="row mt-3 justify-content-center">
                <div class="col-lg-6 col-md-6 text-center">
                    <a href="{% url 'register_view' %}" class="btn btn-primary btn-lg mr-3" style=" margin-top: -350px; margin-left: 200px;">First Time Here? Register</a>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <a href="{% url 'login_view' %}" class="btn btn-success btn-lg" style="margin-top: -350px; margin-left: -200px;">Already Registered? Start Diagnosis</a>
                </div>
            </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
Manasvini Nittala's Independent Study<i class="" aria-hidden="true"></i>
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="https://github.com/Manasvini1106" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/_manasvini._/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manasvini-nittala/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->






<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'core/j/jquery-2.2.4.min.' %}"></script>
<script src="{% static 'core/j/popper.' %}"></script>
<script src="{% static 'core/j/bootstrap.min.' %}"></script>
<script src="{% static 'core/j/stellar.' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.' %}"></script>
<script src="{% static 'core/j/jquery.ajaxchimp.min.' %}"></script>
<script src="{% static 'core/j/waypoints.min.' %}"></script>
<script src="{% static 'core/j/mail-script.' %}"></script>
<script src="{% static 'core/j/contact.' %}"></script>
<script src="{% static 'core/j/jquery.form.' %}"></script>
<script src="{% static 'core/j/jquery.validate.min.' %}"></script>
<script src="{% static 'core/j/mail-script.' %}"></script>
<script src="{% static 'core/j/theme.' %}"></script>
</body>
</html>